#downloadEditor {
    
    display: none;
    flex-direction: column;
    
    padding: 4%;
}

#editor {
    
    color: white;
    flex-grow: 1;
}

.editorHeadings {
    
    color: aqua;
}

#EditorEnableDisable {
    
    display: flex;
    flex-direction: row;
    
    background-color: rgb(50,50,50);
    margin-top: 2%;
    margin-bottom: 2%;
    
    width: 30%;
}

#Enabled {
    
    padding: 1%;
    background-color: green;
}

#editorForm {
    
    width: 100%;
}

.editorFormLabel {
    
    font-weight: bold;
    color: white;
}

.editorFormInput {
    
    font-size: 1.1em;
    width: 30%;
}
