#downloadEditor {
    
    display: none;
    flex-direction: column;
    
    padding: 4%;
}

#editor {
    
    color: white;
    flex-grow: 1;
}

.editorHeadings {
    
    color: aqua;
}

#EditorEnableDisable {
    
    display: flex;
    flex-direction: row;
    
    background-color: rgb(50,50,50);
    margin-top: 2%;
    margin-bottom: 2%;
    
    width: 40%;
}

#Enabled {
    
    padding: 2%;
    background-color: green;
}

#editorForm {
    
    width: 100%;
}

.editorFormLabel {
    
    font-weight: bold;
    color: white;
}

.editorFormInput {
    
    font-size: 1.1em;
    width: 30%;
}

#fileUploadButton {
    display: none;
}

#EditorButtons {
    
    display: flex;
    flex-direction: column;
}

.editorButtonStyle {
    
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2%;
    
    font-weight: bold;
    font-size: 1em;
    margin-top: 2%;
}

#editorSave {
    
    background-color: green;
}

#editorClose {
    
    background-color: red;
}