#portalManagerNewEditDownload {

    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    display: flex;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.NewEditBox {

    padding-left: 0.2em;
}