.ManagerEntryPannel {

    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr;
    grid-template-rows: auto;

    width: 100%;
    color: white;
}

.ManagerEntryInfo {

    display: grid;
    grid-template-columns: min-content 1fr min-content 1fr;
    grid-template-rows: auto;

    color: white;
}