.portalManagerSubHeader {
    /* For the server status and login tab only. Have this layout so it can expand to show more info. */

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        background-color: rgba(255, 65, 74, 255);

        margin-top: 1em;

        border-radius: 2px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .portalManagerSubHeaderText {

        padding: 0;
        margin: 0;
    }

    .loginLogoutButtons {

        margin-left: auto;
        user-select: none;
    }

    .loginLogoutButtons:hover {

        color: darkred;
    }

    .portalManagerStatusBar {

        display: flex;
        margin: 0;
        text-align: center;
    }