{
    "login": {
        "NewUsername": "",
        "NewPassword": "",
        "AESu": "",
        "AESp": "",
        "CooldownBetweenAttempts": 60,
        "CooldownAfterMaxAttempts": 1800,
        "MaxAttemptsAllowed": {4},
        "MaxAttemptsAllowedInPeriodOfTime": {},
        "Lockout": "false"
    }
}