.body {
    
    background-color: rgb(10,10,10);
    min-height: 100svh;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.error404 {

    margin: 0;
    padding: 0;

    color: rgb(25,25,25);
    font-family: monospace;
    font-weight: bold;
    font-size: 10em;
    text-align: center;
    
    user-select: none;
}

.errorCode {

    margin: 0;
    padding: 0;

    color: rgb(45,45,45);
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
}

.spacer {

    padding: 0.5em;
    margin-left: 2em;
    margin-right: 2em;

    border-radius: 2px;
    background-color: rgba(255,65,74,255);

    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.spaverText {
    
    margin: 0;
    padding: 0;

    color: rgb(45,45,45);
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    
    user-select: none;
}